<div class="container-fluid">
    <div class="animated fadeIn">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header  bg-info  ">
                <i class="fa fa-align-justify "></i> <strong> Pasantias realizadas por los estudiantes </strong>
                <div class="input-group mb-4 input-group">
                  <input type="text" class="form-control" placeholder="Filtrar por Codigo, Autor, Tipo Pasantia, Estado" [(ngModel)]="searchTerm">
                  <span class="input-group-prepend">
                      <button type="submit" class="btn btn-light" ><i class="fa fa-search"></i>  </button>
                  </span>
                </div>

            </div>
            <div class="card-body">
              <h1 class="title text-center"> Pasantias </h1>
              <h3 class="title text-center" *ngIf="showEmpty">Los alumnos aún no suben Pasantias</h3>
              <table class="table  table-responsive-md">
                <thead >
                  <tr>
                    <th>Código</th>
                    <th>Autor</th>
                    <th>Fecha de Registro</th>
                    <th>Tipo</th>
                    <th>Institución</th>
                    <th>Creditos</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let internship of optionsInternship | internshipFilter:searchTerm | paginate: {itemsPerPage: 8, currentPage: p}">
                    <td>{{internship['estudiante']['codigo']}} </td>
                    <td>{{internship['estudiante']['nombres'] + ' ' + internship['estudiante']['apellidos']}}</td>
                    <td>{{internship['fechaRegistro']}}</td>
                    <td>{{internship['tipoPasantia']}}</td>
                    <td>{{internship['institucion']}}</td>
                    <td>{{internship['creditos']}}</td>

                    <td>
                      <span class="badge badge-dark" *ngIf="internship['estado'] == 'Por verificar'">Por verificar</span>
                      <span class="badge badge-success" *ngIf="internship['estado'] == 'Aprobado'">Aprobada</span>
                      <span class="badge badge-secondary" *ngIf="internship['estado'] == 'Rechazado'">Rechazada</span>
                    </td>
                    <td>
                      <div class="col-lg-12">
                        <button class="btn btn-primary col-lg-4" (click)="showDataInternship(internship)">Ver</button>
                        <button class="btn btn-danger col-lg-7" (click)="editState(internship)">Cambiar Estado</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="p =$event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-show-internship [internship]="internship" *ngIf="showInternship" (cerrar)="destroyModal()"></app-show-internship>
  <app-modal-fail *ngIf="showFail" [msjFail]="msjFail"></app-modal-fail>

  <div bsModal #showEditState="bs-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"> Cambiar Estado a Publicacion</h4>
          <button type="button" class="close" (click)="showEditState.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Autor: </strong>{{nameStudent}}</p>
          <p><strong>Codigo: </strong>{{codeStudent}}</p>
          <div class="row">
          <div class="formGroup col-6">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-list-alt"> <small>&nbsp; Estado</small></i></span>
                </div>
                <select type="text" class="form-control" #state (change)="handleState($event)">
                  <option [ngValue]="categories" *ngFor="let categories of optionState">{{categories}}</option>
                </select>
              </div>
            </div>
            <div class="formGroup col-6" *ngIf="showCredits">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-list-alt"> <small>&nbsp; Creditos</small></i></span>
                  </div>
                  <select type="text" class="form-control" #credits (change)="handleCredits($event)">
                    <option [ngValue]="credits" *ngFor="let credits of optionsCredits">{{credits}}</option>
                  </select>
                </div>
              </div>

          </div>
          <form  [formGroup]="fieldsForm">
          <div class="row">
            <div class="formGroup col-12" >
              <i class="fa fa-exclamation-circle uncheck" *ngIf="fieldsForm.controls.observation.invalid  && fieldsForm.controls.observation.touched">
                  La observacion tiene un maximo de 300 caracteres
                </i>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-list-alt"> <small>&nbsp; Observaciones</small></i></span>
                </div>
                <textarea rows="4" cols="50" placeholder="Agrege los comentarios necesarios para la publicacion en este campo"
                style="resize: none" formControlName="observation">
                </textarea>
              </div>
            </div>
          </div>
        </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="updateState()">Guardar</button>
          </div>

        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
