
<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header  bg-info  ">
              <i class="fa fa-align-justify "></i> <strong> Estudiantes de maestria </strong>
              <div class="input-group mb-4 input-group">
                <input type="text" class="form-control" placeholder="Buscar por Codigo, Nombre, Apellidos" [(ngModel)]="searchTerm">
                <span class="input-group-prepend">
                    <button type="submit" class="btn btn-light" ><i class="fa fa-search"></i>  </button>
                </span>
                <span>   </span>
                <button class="btn btn-primary " (click)="navigateToAddStudent()" >Registrar Nuevo estudiante</button>
              </div>

          </div>
          <div class="card-body">
            <h1 class="title text-center">Listado de Estudiantes</h1>
            <h3 class="title text-center" *ngIf="showEmpty">No tienes estudiantes Registrados</h3>
            <table class="table  table-responsive-sm">
              <thead >
                <tr>
                  <th>Nombres</th>
                  <th>Codigo</th>
                  <th>Tutor</th>
                  <th>Cohorte</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of optionsDataStudents | studentFilter:searchTerm | paginate: {itemsPerPage: 8, currentPage: p} ">
                  <td>{{student['nombres']}} {{ student['apellidos']}}</td>
                  <td>{{student['codigo']}}</td>
                  <td>{{student['tutor']['nombre']}}</td>
                  <td>{{student['cohorte']}}</td>
                  <td>
                    <span class="badge badge-primary" *ngIf="student['estado'] == 'Activo'">Activo</span>
                    <span class="badge badge-dark" *ngIf="student['estado'] == 'Graduado'">Graduado</span>
                    <span class="badge badge-secondary" *ngIf="student['estado'] == 'Inactivo'">Inactivo</span>
                  </td>
                  <td>
                    <div class="col-lg-12">
                      <button class="btn btn-primary col-lg-4" (click)="showModalOk(student)">Ver</button>
                      <button class="btn btn-danger col-lg-4" (click)="sendInfoToEditStudentComponent(student)">Editar</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Informacion del estudiante</h4>
        <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Nombres: </strong>{{studentShow.getName()}}</p>
        <p><strong>Apellidos: </strong>{{studentShow.getSurname()}}</p>
        <p><strong>Identificación: </strong>{{studentShow.getId()}}</p>
        <p><strong>Correo: </strong>{{studentShow.getEmail()}}</p>
        <p><strong>Cohorte: </strong>{{studentShow.getCohorte()}}</p>
        <p><strong>Ingresó por: </strong>{{studentShow.getEnteredBy()}}</p>
        <p><strong>Estado: </strong>{{studentShow.getState()}}</p>
        <p><strong>Tutor: </strong>{{studentShow.getTutor()}}</p>
        <p><strong></strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="successModal.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #warningModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-primary" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">{{msjOk}}</h4>
      <button type="button" class="close" (click)="warningModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Accion exitosa</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="warningModal.hide()">Cerrar</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<app-modal-fail *ngIf="showFail" [msjFail]="msjFail"></app-modal-fail>
