<br>
<h1 mat-dialog-title style="text-align: center; background-color:#5bc0de;" class="redondeado titulo primary"><strong>VER TUTOR <br> </strong></h1>
<div mat-dialog-content>
  <form [formGroup]="formulario" >
    <div class="row">
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-5 col-xs-6">Nombre:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="nombre" formControlName="nombre" value="{{tutor.nombre}}">
      </div>
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-5 col-sm-6 col-xs-6">Apellido:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="apellido" formControlName="apellido" value="{{tutor.apellido}}">
      </div>
    </div><br>
    <div class="row">
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Identificacion:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="identificación" value="{{tutor.identificacion}}"
          formControlName="identificación">
      </div>
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Correo:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="correo" value="{{tutor.correo}}"
          formControlName="correo">
      </div>
    </div> <br>
    <div class="row">
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Telefono:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="telefono" value="{{tutor.telefono}}"
          formControlName="telefono">
      </div>
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Tipo:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="tipo" value="{{tutor.tipo.nombre}}"
          formControlName="tipo">
      </div>
    </div> <br>
    <div class="row">
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Departamento:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="departamento" value="{{tutor.departamento}}"
          formControlName="departamento">
      </div>
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">G. Investigación:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="grupoInvestigacion" value="{{tutor.grupoInvestigacion}}"
          formControlName="grupoInvestigacion">
      </div>
    </div> <br>
    <div class="row">
      <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Universidad:</span>
        <input disabled class="redondeado col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="universidad" value="{{tutor.universidad}}"
          formControlName="universidad">
      </div>
    </div> <br>
  </form>
</div>
<div mat-dialog-actions>
  <div style="text-align:right">
    <button mat-button class="btn btn-primary" (click)="okClick()" cdkFocusInitial>Ok</button>
</div>
  
</div>