<div bsModal #showInternship="bs-modal" class="modal fade" tabindex="-1" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Información de la Pasantía</h4>
        <button type="button" class="close" (click)="destroyModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Autor: </strong>{{internship.getNameStudent()}}</p>
        <p><strong>Código: </strong>{{internship.getCodeStudent()}}</p>
        <p><strong>Tipo Pasantía: </strong>{{internship.getTypeIntership()}}</p>
        <p><strong>Fecha Registro en el Sistema: </strong>{{internship.getDateRegistryIntership()}}</p>
        <p><strong>Fecha Inicio Pasantía: </strong>{{internship.getDataIntershipStart()}}</p>
        <p><strong>Fecha Fin Pasantía: </strong>{{internship.getDataIntershipEnd()}}</p>
        <p><strong>Institución ó Universidad: </strong>{{internship.getInstitution()}}</p>
        <p><strong>Dependencia: </strong>{{internship.getDependence()}}</p>
        <p><strong>Nombre de la Dependencia: </strong>{{internship.getNameDependence()}}</p>
        <p><strong>Tutor de Pasantía: </strong>{{internship.getTutorInternship()}}</p>
        <p><strong>Certificado: </strong><button type="button" class="btn btn-link" (click)="showFileInternship('certificado')">Ver</button></p>
        <p><strong>Informe del tutor: </strong><button type="button" class="btn btn-link" (click)="showFileInternship('informe')">Ver</button></p>
        <p><strong>Estado: </strong>{{internship.getState()}}</p>
        <p><strong>Creditos: </strong>{{internship.getCredits()}}</p>
        <p><strong>Observación: </strong></p>
        <div class="row">
            <div class="formGroup col-12" >
              <textarea rows="4" cols="50"  disabled="false" style="resize: none">
              {{internship.getObservation()}}
              </textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="destroyModal()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

