<form [formGroup]="fieldsForm"  #f="ngForm" (ngSubmit)="getDataCity()">
  <div class="input-group">
    <i class="fa fa-exclamation-circle uncheck"
    *ngIf="cityNotFound">
     La ciudad no se encuentra en nuestra base de datos
    </i>
    <i class="fa fa-exclamation-circle uncheck"
    *ngIf="fieldCityEmpty">
     No ha digitado una ciudad
    </i>
    <div class="input-group mb-3 input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-map-marker"></i><small>&nbsp;Localizacion</small></span>
          </div>
      <input type="text" placeholder="* Busque la ciudad de publicacion" aria-label="Number"
              [matAutocomplete]="auto" class="form-control"  (keyup)="determineAction($event)"
              formControlName="nameCity"  >
      <span class="input-group-prepend">
          <button type="submit" class="btn btn-primary" ><i class="fa fa-search"></i>  </button>
      </span>
    </div>
  </div>

  <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngFor="let option of options" [value]="option" (click)="determineAction($event)" >
      {{option}}
    </mat-option>
  </mat-autocomplete>
</form>
