<h1 mat-dialog-title class="titulo">VER ACTIVIDAD ADMIN</h1>
<div mat-dialog-content>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Codigo:  <span style="color: red">*</span></span>
    </div>
    <input id="nombre" type="text" class="form-control" value="{{actividad.compromisos}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Semana <span style="color: red">*</span></span>
    </div>
    <input id="nombre2" type="text" class="form-control" value="{{actividad.semana}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Fecha Inicio <span style="color: red">*</span></span>
    </div>
    <input id="nombre3" type="text" class="form-control" value="{{fi}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4" >Fecha Entrega <span style="color: red">*</span></span>
    </div>
    <input id="nombre4" type="text" class="form-control"  value="{{fe}}"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4">Cumplido <span style="color: red">*</span></span>
    </div>
    <input id="nombre4" type="text" class="form-control" value="{{actividad.cumplido}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-primary" (click)="okClick()" cdkFocusInitial>Ok</button>
</div>

