<mat-card>
  <mat-card-header class="bg-info">
    <mat-card-title style="background-color:#5bc0de;">
      <br> Editar seguimiento<br>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()" #f="ngForm">
          <h1 class="title text-center">EDITAR SEGUIMIENTO</h1>
          <p class="text-muted text-center">En este formulario podrá editar los Seguimientos, los
              campos con * son obligatorios</p>

          <div class="row">
              <div class="formGroup col-6">
                  <i class="fa fa-exclamation-circle uncheck"
                      *ngIf="(formulario.get('nombre').errors?.required && formulario.get('nombre').touched ) ">
                      Nombre de Seguimiento vacio o digitó mas de 30 caracteres
                  </i>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend ">
                          <span class="input-group-text"><i
                                  class="fa fa-id-card-o"></i><small>Nombre</small></span>
                      </div>
                      <input type="text" class="form-control" formControlName="nombre">
                  </div>
              </div>

              <div class="formGroup col-6">
                 <!--  <i class="fa fa-exclamation-circle uncheck"
                      *ngIf="( formulario.get('tipo').errors?.required && formulario.get('tipo').touched ) ">
                      Este campo es obligatorio
                  </i> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-envelope-o"></i>
                            <small>TIPO</small></span>
                      </div>
                      <input type="text" class="form-control"  formControlName="tipo">
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="formGroup col-6">
                  <!-- <i class="fa fa-exclamation-circle uncheck"
                      *ngIf="(formulario.get('tutor').errors?.required  && formulario.get('tutor').touched)">
                      Tutor vacio. Campo Obligatorio
                  </i> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i
                                  class="fa fa-user-circle"></i><small>tutor</small></span>
                      </div>
                      <input type="text" class="form-control" formControlName="tutor" #tutor value="{{seguimientoTutor.tutor.nombre+' '+seguimientoTutor.tutor.apellido}}">
                  </div>
              </div>

              <div class="formGroup col-6">
                 <!--  <i class="fa fa-exclamation-circle uncheck"
                      *ngIf="(formulario.get('estudiante').errors?.required  && formulario.get('estudiante').touched)">
                      Nombre de Estudiante vacío
                  </i> -->

                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text">
                          <i class="fa fa-user-circle"></i>
                          <small>Estudiante</small></span>
                      </div>
                      <input type="text" class="form-control"  formControlName="estudiante">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="formGroup col-6">
                <!--   <i class="fa fa-exclamation-circle uncheck"
                      *ngIf="(formulario.get('estado').errors?.required  && formulario.get('estado').touched)">
                      Estado sin seleccionar. Campo Obligatorio
                  </i> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i
                                  class="fa fa-user-circle"></i><small>Estado Proyecto</small></span>
                      </div>
                      <select type="text" class="form-control" formControlName="estado" #estadoProyecto>
                        <option [ngValue]="" disabled hidden >{{seguimientoTutor.estadoProyecto.nombre}}</option>
                        <option [ngValue]="estad" *ngFor="let estad of optionsEstadoProyecto">{{estad.nombre}}</option>
                      </select>
                  </div>
              </div>

              <div class="formGroup col-6">
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user-circle"></i>
                              <small>Cohorte</small>
                          </span>
                      </div>
                      <input type="text" class="form-control"  formControlName="cohorte">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="formGroup col-6">
                 <!--  <i class="fa fa-exclamation-circle uncheck"
                      *ngIf="(formulario.get('coodirector').errors?.required  && formulario.get('coodirector').touched)">
                      Coodirector Vacío. Campo Obligatorio
                  </i> -->
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i
                                  class="fa fa-user-circle"></i><small>Coodirector</small></span>
                      </div>
                      <input type="text" class="form-control" formControlName="coodirector">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="formGroup">
                  <i class="fa fa-exclamation-circle uncheck"
                      *ngIf="(formulario.get('objetivo').errors?.required  && formulario.get('objetivo').touched)">
                      Objetivo Vacío. Campo Obligatorio
                  </i>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i
                                  class="fa fa-user-circle"></i><small>Objetivo General</small></span>
                      </div>

                          <textarea type="text" placeholder="* O. General" formControlName="objetivo" cols="50" rows="5"></textarea>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="formGroup">
                <i class="fa fa-exclamation-circle uncheck"
                    *ngIf="(formulario.get('objetivosEspecificos').errors?.required  && formulario.get('objetivosEspecificos').touched)">
                    Objetivos Vacíos. Campo Obligatorio
                </i>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-user-circle"></i><small>Objetivo Especificos</small></span>
                    </div>

                        <textarea type="text" placeholder="* O. Especificos" formControlName="objetivosEspecificos" cols="50" rows="5"></textarea>
                </div>
            </div>
        </div>
      </form>
  </div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
              <mat-panel-title>
                  Actividades
              </mat-panel-title>
              <mat-panel-description>
                  {{panelOpenState ? 'Ocultar ' : 'Ver '}} actividades asignadas a este seguimiento
              </mat-panel-description>
          </mat-expansion-panel-header>
          <app-mostrar-actividades-tutor></app-mostrar-actividades-tutor>
        </mat-expansion-panel>
  </mat-accordion>
  </mat-card-content>
  <mat-card-actions>
    <div style="text-align:right">
      <button type="button" class="button is-danger" (click)="cancelar()">Cancelar
      </button>
      <button type="button" (click)="onSubmit()"  class="button is-info" [disabled]="formulario.invalid">Guardar
      </button>
    </div>
  </mat-card-actions>
  </mat-card>
