table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.full{
  width: 100%;
  display: flex;
  justify-content: right;
  justify-items: right;
}
.izq {
  margin-right: 0%;
  margin-left: auto;
  display: inline-flex;
  justify-self: right;
}
