
<mat-card>
  <mat-card-header class="bg-info">
    <mat-card-title style="background-color:#5bc0de;">
      <br> Editar seguimiento<br>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <div mat-dialog-content class="mat-typography">
    <!--<form [formGroup]="formulario">-->
        <div class="row">
            <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="input-group-text col-lg-6 col-md-6 col-sm-5 col-xs-6">Nombre:</span>
                <input disabled class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="nombres"
                    >
            </div>
            <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="input-group-text col-lg-6 col-md-5 col-sm-6 col-xs-6">Tipo:</span>
                <input disabled class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="apellidos"
                    >
            </div>
        </div><br>
        <div class="row">
            <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Tutor:</span>
                <input disabled class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="identificación"
                    >
            </div>
            <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Estudiante:</span>
                <input disabled class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="text" id="telefono"
                    >
            </div>
        </div> <br>
        <div class="row">
            <div class="input-group-prepend col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <span class="input-group-text col-lg-6 col-md-6 col-sm-6 col-xs-6">Estado:</span>
                <input disabled class="col-lg-6 col-md-6 col-sm-6 col-xs-6" type="email" id="correo"
                   >
            </div>


        </div>
        <br>
        <div class="row">
            <div class="input-group-prepend col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="input-group-text col-lg-3 col-md-3 col-sm-3 col-xs-3">O. General</span>
                <textarea disabled name="" id="" cols="60" rows="2" ></textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="input-group-prepend col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="input-group-text col-lg-3 col-md-3 col-sm-3 col-xs-3">O. Especificos</span>
                <textarea disabled name="" id="" cols="60" rows="6" ></textarea>
            </div>
        </div> <br>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Actividades
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'Ocultar ' : 'Ver '}} actividades asignadas a este seguimiento
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="full">
                  <button class="btn btn-primary izq" (click)="agregarActividad()">Agregar</button>
                </p>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                  <!-- Position Column -->
                  <ng-container matColumnDef="Codigo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
                    <td mat-cell *matCellDef="let element"> {{element.Codigo}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="Nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="Tipo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.Tipo}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Estudiante">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estudiante </th>
                    <td mat-cell *matCellDef="let element"> {{element.Estudiante}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let element"> {{element.Estado}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="Accion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
                    <td mat-cell *matCellDef="let element">
                      <div class="btn-group">
                        <a class="btn" (click)="editarActividad()"><i class="fa fa-pencil"></i></a>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-expansion-panel>
        </mat-accordion>
        <p>  </p>

    <!--</form>-->

</div>
  </mat-card-content>
</mat-card>

<button type="button" class="btn-lg btn btn-primary btn float-right" (click)="volver()">Volver</button>
