<div bsModal #progressModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" [config]="{backdrop: 'static'}">
<div class="modal-dialog modal-success" role="document">
  <div class="modal-content">
    <div class="aling-center">
      <img src="/mautomatica/assets/img/progress.gif" width="100px" height="100px" >
      <strong>{{progressRequest}}</strong>
     </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
