<div bsModal #showTeachingPractice="bs-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Informacion de la Practica Docente</h4>
        <button type="button" class="close" (click)="destroyModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Autor: </strong>{{teachingPractice.getNameStudent()}}</p>
        <p><strong>Codigo: </strong>{{teachingPractice.getCodeStudent()}}</p>
        <p><strong>Tipo Practica Docente: </strong>{{teachingPractice.getTypePractice()}}</p>
        <p><strong>Fecha Registro de la Actividad: </strong>{{teachingPractice.getDateRegister()}}</p>
        <p *ngIf="showData"><strong>Fecha Inicio Actividad: </strong>{{teachingPractice.getDateStart()}}</p>
        <p *ngIf="showData"><strong>Fecha Fin Actividad: </strong>{{teachingPractice.getDateEnd()}}</p>
        <p><strong>Certificado: </strong><button type="button" class="btn btn-link" (click)="showFileTeachingPractice('certificado')">Ver</button></p>
        <p><strong>Estado: </strong>{{teachingPractice.getState()}}</p>
        <p><strong>Horas: </strong>{{teachingPractice.getHours()}}</p>
        <p><strong>Observacion: </strong></p>
        <div class="row">
            <div class="formGroup col-12" >
              <textarea rows="4" cols="80"  disabled="false">
                  {{teachingPractice.getObservation()}}
              </textarea>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="destroyModal()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
