<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header  bg-info  ">
              <i class="fa fa-align-justify "></i> <strong> Publicaciones realizadas por el estudiante </strong>
              <!--<div class="input-group mb-4 input-group">
                <input type="text" class="form-control" placeholder="Buscar por Codigo" [(ngModel)]="searchTerm">
                <span class="input-group-prepend">
                    <button type="submit" class="btn btn-light" ><i class="fa fa-search"></i>  </button>
                </span>
              </div>-->

          </div>
          <div class="card-body">
            <h1 class="title text-center"> Mis Publicaciones</h1>
            <table class="table  table-responsive-sm">
              <thead >
                <tr>
                  <th>Tipo</th>
                  <th>Fecha</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let publication of optionsPublicationsStudent | paginate: {itemsPerPage: 8, currentPage: p}">
                  <td>{{publication['tipoDocumento']}} </td>
                  <td>{{publication['fechaPublicacion']}}</td>
                  <td>
                    <span class="badge badge-dark" *ngIf="publication['estado'] == 'Por verificar'">Por verificar</span>
                    <span class="badge badge-success" *ngIf="publication['estado'] == 'Aprobado'">Aprobada</span>
                    <span class="badge badge-secondary" *ngIf="publication['estado'] == 'Rechazado'">Rechazada</span>
                  </td>
                  <td>
                    <div class="col-lg-12">
                      <button class="btn btn-primary col-lg-3" (click)="showPublication(publication)">Ver</button>
                      <button class="btn btn-danger col-lg-3" (click)="deletePublication(publication)"
                      *ngIf="publication['estado'] == 'Por verificar'">Eliminar</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-show-publication [typePublication]="typePublication" [idPublication]="idPublication"  *ngIf="showModalPublication"
                      (cerrar)="destroyModal($event)" ></app-show-publication>
<app-modal-ok *ngIf="showModalOk" [msjOk]="msjOk"></app-modal-ok>

  <div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error en el servidor</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Comunicate con el personal de mantenimiento</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="dangerModal.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  <div bsModal #errDeletePublication="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Error al eliminar la publicación</h4>
        <button type="button" class="close" (click)="errDeletePublication.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>La publicación solo se puede eliminar cuando su estado es: Por verificar</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="errDeletePublication.hide()">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->




