

  <p class="full">
    <button class="izq" mat-raised-button color="primary" (click)="agregar()">
      <mat-icon>add_circle</mat-icon>
      Agregar Tutor
    </button>
  </p>
  <mat-form-field style="position: relative; left: 2cm; width: 35%;">
    <mat-label class="color-negro ">
      <mat-icon>search</mat-icon>Filtrar por Nombre, Correo, Departamento, Universidad
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: PROPUESTA" #input>
  </mat-form-field>
  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRE </th>
        <td mat-cell *matCellDef="let row"> {{row.nombre+" "+ row.apellido}} </td>
      </ng-container>

      <!-- tutor Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CORREO </th>
        <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
      </ng-container>
         <!-- estudiante Column -->
         <ng-container matColumnDef="departamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTAMENTO </th>
          <td mat-cell *matCellDef="let row"> {{row.departamento}} </td>
        </ng-container>

      <!-- estudiante Column -->
      <ng-container matColumnDef="universidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> UNIVERSIDAD </th>
        <td mat-cell *matCellDef="let row"> {{row.universidad}} </td>
      </ng-container>
      <!-- estado Column -->
     
      <!-- estado Opciones -->
      <ng-container matColumnDef="opciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> OPCIONES </th>
        <td mat-cell *matCellDef="let row">
          <div class="btn-group">
            <a class="btn" (click)="verTutor(row)"><i class="fa fa-eye"></i></a>
            <a class="btn" (click)="editarTutor(row)"><i class="fa fa-pencil"></i></a>            
            <a class="btn" (click)="eliminarTutor(row.identificacion)"><i class="fa fa-times"></i></a>
            <!-- <app-editar-seguimiento [seguimiento]=row></app-editar-seguimiento>
            <app-eliminar-seguimiento [seguimiento]=row></app-eliminar-seguimiento>
          --> </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Ningún dato coincide con el filtro "{{input.value}}"</td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>

