<body >

  <div id="antorcha"></div>
  <div id="bandera"></div>

  <header class="init">
    <a id="logoU"></a>
    <P class="separador"></P>
    <p id="desc">Sistema de Gestion Documental Unicauca</p>
  </header>

  <div class="container">
    <div id="general">
      <div id="login">
        <div id="logoSimca"></div>
        <h3>Iniciar Sesion</h3><br>
        <form class="formLogin">

              <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" autofocus>
           <br>

              <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" >


            <button class="botonIngresarClass" type="submit"><strong>Ingresar</strong></button>
          </form>

      </div>
    </div>
  </div>

  <!--<div class="container">
    <div class="row">
      <div class="aling-center">
        <img src="../../../../assets/img/imgDefault/logo.png" class="img-fluid ">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">

              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</body>
