<div class="app-body img-background ">
  <main class="main d-flex align-items-center img-pie-login">

    <div class="container  ">

      <div class="row ">
        <div class="col-6  mx-auto">
          <div class="row ">

            <div class="aling-center">
              <img src="../../../../assets/img/imgDefault/logo.png" class="img-fluid ">

            </div>
            <div class="aling-center col-md-6">
              <h4 style="color: aqua;" >Sistema de Gestion de Documentos Institucionales </h4>
            </div>



          </div>
        </div>
      </div>

      <div class="row ">
        <div class="col-md-5 mx-auto ">
          <div class="card-group ">
            <div class="card p-4">
              <div class="card-body ">
                <form>
                  <img src="../../../../assets/img/imgDefault/folder.png" class="img-fluid aling-center">
                  <img><br>
                  <h3 class=" text-center">Iniciar Sesion</h3><br>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" autocomplete="username" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password"
                      required>
                  </div>
                  <div class="row">
                    <div class="col-6 aling-center">
                      <button type="button" class="btn btn-primary btn-block">Login</button>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>
