<body>
  <div id="antorcha"></div>
  <div id="bandera"></div>

  <header class="init">
    <a id="logoU"></a>
    <P class="separador"></P>
    <p id="desc">Sistema de Gestion Documental Unicauca</p>
  </header>

  <div class="container">
    <div id="general">
      <div id="login">
        <div id="logoSimca"></div>
        <h3>Iniciar Sesion</h3><br>

        <form [formGroup]="fieldsForm" (ng-submit)="onSubmit()" class="formLogin">
            <i class="fa fa-exclamation-circle uncheck" *ngIf="showErrorDates">
                <small> Usuario o contraseña incorrectos</small>
              </i>
          <div class="formGroup">
            <i class="fa fa-exclamation-circle uncheck" *ngIf="(fieldsForm.controls.userLogin.invalid && fieldsForm.controls.userLogin.touched ) || showErrorUser ">
              <small> Usuario vacio o digitó más de 30 caracteres</small>
            </i>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" aria-label="Default" aria-describedby="putGroup-siinzing-default"
                autofocus formControlName="userLogin" (click)="closeMsjError()">
            </div>
          </div>

          <div class="formGroup">
            <i class="fa fa-exclamation-circle uncheck" *ngIf="(fieldsForm.controls.passLogin.invalid && fieldsForm.controls.passLogin.touched ) || showErrorPass ">
              <small> Contraseña vacía o digitó más 15 caracteres</small>
            </i>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" class="form-control" aria-label="Default" aria-describedby="putGroup-siinzing-default"
                formControlName="passLogin"  (click)="closeMsjError()">
            </div>
          </div>
          <button class="botonIngresarClass" type="submit" (click)="onSubmit()"><strong>Ingresar</strong></button>
        </form>
      </div>
    </div>
  </div>
</body>
