.sinborde {
    border: 0;
  }
  #wrapper {
    display: flex;
    justify-content: center;
  }
  .iconos
  {
    size: 1cm;
    cursor: pointer;
  }
  .redondeado {
    border-radius: 5px;
  }
  .confondo {
    background-color: #def;
  }