<form [formGroup]="fieldsForm"  #f="ngForm" (ngSubmit)="getDataStudent()">
  <div class="input-group">
    <i class="fa fa-exclamation-circle uncheck"
    *ngIf="studentNotFound">
     El estudiante no se encuentra registrado en el sistema
    </i>
    <i class="fa fa-exclamation-circle uncheck"
    *ngIf="fielstudentEmpty">
     No ha digitado un nombre, apellido o identificacion para el estudiante
    </i>
    <div class="input-group mb-3 input-group">
      <input type="text" placeholder="Didite nombre, apellido o identificacion del estudiante a buscar" aria-label="Number"
              [matAutocomplete]="auto" class="form-control"  (keyup)="determineAction($event)"
              formControlName="nameStudent"  >
      <span class="input-group-prepend">
          <button type="submit" class="btn btn-primary" ><i class="fa fa-search"></i>  </button>
      </span>
    </div>
  </div>

  <mat-autocomplete #auto="matAutocomplete" >
    <mat-option *ngFor="let option of options" [value]="option" (click)="determineAction($event, option)" >
      {{option['nombres'] + ' ' + option['apellidos']}}
    </mat-option>
  </mat-autocomplete>
</form>
