<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="card ">
                <div class="card-header bg-info" style="text-align: center;">
                    <strong>CREAR TUTOR</strong>
                </div>
                <div class="card-body">
                    <form [formGroup]="formulario" (ngSubmit)="onSubmit($event)" #f="ngForm">
                        <h1 class="title text-center">CREAR TUTOR</h1>
                        <p class="text-muted text-center">Crear un Nuevo tutor. Campos con * son obligatorios</p>

                        <div class="row">
                            <div class="formGroup col-6">
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(formulario.get('nombre').errors?.required && formulario.get('nombre').touched ) ">
                                    Nombre de Tutor vacio. Este campo es obligatorio.
                                </i>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa fa-id-card-o"></i><small>Nombre</small></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="* Digite nombre del tutor"
                                        formControlName="nombre">
                                </div>
                            </div>

                            <div class="formGroup col-6">
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="( formulario.get('apellido').errors?.required && formulario.get('apellido').touched ) ">
                                    Apellido de tutor vacío. Este campo es obligatorio.
                                </i>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa fa-envelope-o"></i><small>Apellido</small></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="* Digite apellido del tutor"
                                        formControlName="apellido">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="formGroup col-6">
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(formulario.get('identificacion').errors?.required  && formulario.get('identificacion').touched)">
                                    Identificación vacía. Este campo es obligatorio.
                                </i>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa fa-user-circle"></i><small>Identificación</small></span>
                                    </div>
                                    <input type="text" class="form-control"
                                        placeholder="* Digite Identificación del tutor"
                                        formControlName="identificacion">
                                </div>
                            </div>

                            <div class="formGroup col-6">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle"></i>
                                            <small>Telefono</small></span>
                                    </div>
                                    <input type="number" class="form-control" placeholder=" Ingrese teléfono tutor"
                                        formControlName="telefono"  >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="formGroup col-6">
                                <div *ngIf="formulario.get('correo').errors && formulario.get('correo').touched" >
                                    <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(formulario.get('correo').errors?.required  && formulario.get('correo').touched)">
                                    Correo vacío. Este campo es Obligatorio
                                    </i>
                                    <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="formulario.get('correo').errors?.email">
                                    Formato de correo Incorrecto.
                                </i>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa fa-user-circle"></i><small>Correo</small></span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="* Ingrese correo Ej: correo@dominio.com"
                                        formControlName="correo">
                                </div>
                            </div>

                            <div class="formGroup col-6">
                               <!--  <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(formulario.get('departamento').errors?.required  && formulario.get('departamento').touched)">
                                    Departamento vacío. Este campo es Obligatorio.
                                </i> -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle"></i>
                                            <small>Departamento.</small></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Vinculado al departamento"
                                        formControlName="departamento">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="formGroup col-6">
                               <!--  <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(formulario.get('grupoInvestigacion').errors?.required  && formulario.get('grupoInvestigacion').touched)">
                                    G. Investigación Vacío. Este campo es Obligatorio
                                </i> -->
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle"></i><small>G.
                                                Investigación</small></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Grupo Investigación"
                                        formControlName="grupoInvestigacion">
                                </div>
                            </div>
                            <div class="formGroup col-6">
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(formulario.get('tipo').errors?.required  && formulario.get('tipo').touched)">
                                    Tipo Vacío. Este campo es Obligatorio
                                </i>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i
                                                class="fa fa-user-circle"></i><small>Tipo</small></span>
                                    </div>
                                    <select type="text" class="form-control" formControlName="tipo" #tipo>
                                        <option [ngValue]="null" disabled hidden >Seleccione</option>
                                        <option [ngValue]="oe" *ngFor="let oe of optionsTiposTutor">{{oe.nombre}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="formulario.get('tipo').value!=null&&formulario.get('tipo').value.nombre==='Externo'; else interno" >
                            <div class="formGroup col-6">
                                <i class="fa fa-exclamation-circle uncheck"
                                    *ngIf="(formulario.get('universidad').errors?.required  && formulario.get('universidad').touched)">
                                    Universidad Vacío. Este campo es Obligatorio
                                </i>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user-circle"></i><small>Universidad</small></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="* Ingrese Universidad"
                                        formControlName="universidad">
                                </div>
                            </div>
                        </div>
                        <ng-template #interno hidden>
                            <div class="row" *ngIf="formulario.get('tipo').value!=null&&formulario.get('tipo').value.nombre==='Externo'" >
                                <div class="formGroup col-6">

                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user-circle"></i><small>Universidad</small></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="* Ingrese Universidad"
                                            formControlName="universidad" value="Universidad del Cauca">

                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div style="text-align:right">
                            <button type="button" class="button is-danger" (click)="onCancel()"
                               >Cancelar
                            </button>
                            <button type="submit" class="btn btn-lg  btn-primary"
                                [disabled]="formulario.invalid">Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
