<h2 mat-dialog-title style="background-color:#5bc0de; color: white;text-align-last: center;"> VER SEGUIMIENTO</h2>
<div mat-dialog-content class="mat-typography">

    <form [formGroup]="formulario"  #f="ngForm">
        <h1 class="title text-center">VER SEGUIMIENTO</h1>
        <p class="text-muted text-center">En este formulario podrá Consultar los detalles del Seguimientos</p>

        <div class="row">
            <div class="formGroup col-6">

                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text"><i
                                class="fa fa-id-card-o"></i><small>Nombre</small></span>
                    </div>
                    <input type="text" class="form-control"
                        placeholder="* Digite nombre del seguimiento" formControlName="nombre">
                </div>
            </div>

            <div class="formGroup col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-envelope-o"></i><small>TIPO</small></span>
                    </div>
                    <input type="text" class="form-control"
                     formControlName="tipo">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="formGroup col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-user-circle"></i><small>tutor</small></span>
                    </div>
                    <input type="text" class="form-control"
                      formControlName="tutor">
                </div>
            </div>

            <div class="formGroup col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-circle"></i>
                            <small>Estudiante</small></span>
                    </div>
                    <input type="text" class="form-control"
                     formControlName="estudiante">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="formGroup col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-user-circle"></i><small>Estado Proyecto</small></span>
                    </div>
                    <input type="text" class="form-control"
                     formControlName="estado">
                </div>
            </div>

            <div class="formGroup col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-circle"></i>
                            <small>Cohorte</small></span>
                    </div>
                    <input type="text" class="form-control"
                     formControlName="cohorte">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="formGroup col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-user-circle"></i><small>Coodirector</small></span>
                    </div>
                    <input type="text" class="form-control" placeholder="* Coodirector"
                     formControlName="coodirector">
                </div>
            </div>
            <div class="formGroup col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text"><i
                                class="fa fa-user-circle"></i><small>Estado Seguimiento</small></span>
                    </div>
                    <input type="text" class="form-control"
                     formControlName="estadoSeguimiento">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="formGroup">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-user-circle"></i><small>Objetivo General</small></span>
                    </div>
                        <textarea type="text"   placeholder="* O. General" formControlName="objetivoGeneral" cols="50" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="formGroup">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i
                                class="fa fa-user-circle"></i><small>Objetivos Especificos</small></span>
                    </div>

                        <textarea type="text"   placeholder="* O. Especificos" formControlName="objetivosEspec" cols="50" rows="5"></textarea>
                </div>
            </div>
        </div>

        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Actividades
                    </mat-panel-title>
                    <mat-panel-description>
                        {{panelOpenState ? 'Ocultar ' : 'Ver '}} actividades asignadas a este seguimiento
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-list-actividades-tutor [seguimiento]="seguimiento"></app-list-actividades-tutor>
              </mat-expansion-panel>
        </mat-accordion>
    </form>
</div>
<p></p>
<div style="text-align:right">
  <button (click)="ok()"   class="button is-info"
      >OK
  </button>
</div>
