<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header  bg-info  ">
              <i class="fa fa-align-justify "></i> <strong> Actividades de Práctica Docente realizadas por los estudiantes </strong>
              <div class="input-group mb-4 input-group">
                <input type="text" class="form-control" placeholder="Filtrar por Codigo, Autor, Tipo Practica, Estado" [(ngModel)]="searchTerm">
                <span class="input-group-prepend">
                    <button type="submit" class="btn btn-light" ><i class="fa fa-search"></i>  </button>
                </span>
              </div>
              <app-show-hours-and-credits-for-student ></app-show-hours-and-credits-for-student>
          </div>
          <div class="card-body">
            <h1 class="title text-center">Actividades de Práctica Docente </h1>
            <h3 class="title text-center" *ngIf="showEmpty">Los estudiantes aún no suben Practicas Docente</h3>
            <table class="table  table-responsive-md">
              <thead >
                <tr>
                  <th>Codigo</th>
                  <th>Autor</th>
                  <th>Fecha de Registro</th>
                  <th>Tipo</th>
                  <th>Horas Asignadas</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let teachingPractice of optionsTeachingPractice| teachingPracticeFilter:searchTerm | paginate: {itemsPerPage: 8, currentPage: p}">
                  <td>{{teachingPractice['estudiante']['codigo']}} </td>
                  <td>{{teachingPractice['estudiante']['nombres'] + ' ' + teachingPractice['estudiante']['apellidos']}}</td>
                  <td>{{teachingPractice['fechaRegistro']}}</td>
                  <td>{{teachingPractice['tipoPracticaDocente']}}</td>
                  <td>{{teachingPractice['horas']}}</td>

                  <td>
                    <span class="badge badge-dark" *ngIf="teachingPractice['estado'] == 'Por verificar'">Por verificar</span>
                    <span class="badge badge-success" *ngIf="teachingPractice['estado'] == 'Aprobado'">Aprobada</span>
                    <span class="badge badge-secondary" *ngIf="teachingPractice['estado'] == 'Rechazado'">Rechazada</span>
                  </td>
                  <td>
                    <div class="col-lg-12">
                      <button class="btn btn-primary col-lg-4" (click)="showDataTeachingPractice(teachingPractice)">Ver</button>
                      <button class="btn btn-danger col-lg-7" (click)="editState(teachingPractice)">Cambiar Estado</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-show-teaching-practice [teachingPractice]="teachingPractice" *ngIf="showTeachingPractice" (cerrar)="destroyModal()"></app-show-teaching-practice>
<app-modal-fail *ngIf="showFail" [msjFail]="msjFail"></app-modal-fail>


<div bsModal #showEditState="bs-modal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Cambiar Estado a Practica Docente</h4>
        <button type="button" class="close" (click)="showEditState.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><strong>Autor: </strong>{{nameStudent}}</p>
        <p><strong>Codigo: </strong>{{codeStudent}}</p>

        <form [formGroup]="fieldsForm">

        <div class="row">
        <div class="formGroup col-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-list-alt"> <small>&nbsp; Estado</small></i></span>
              </div>
              <select type="text" class="form-control" #state (change)="handleState($event)">
                <option [ngValue]="categories" *ngFor="let categories of optionState">{{categories}}</option>
              </select>
            </div>
          </div>

          <div class="formGroup col-6" *ngIf="showHours">
              <i class="fa fa-exclamation-circle uncheck" *ngIf="(fieldsForm.controls.hours.errors?.maxlength  && fieldsForm.controls.hours.dirty)
              || (fieldsForm.controls.hours.errors?.required && fieldsForm.controls.hours.touched) ">
                  Horas a asignar vacia o digitó mas de 3 caracteres
                </i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="fieldsForm.controls.hours.errors?.pattern">
                  Las horas debe de ser un numero
                </i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="showErrorMax">
                  Las horas debe ser un numero mayor a 288 o menor que 0
                </i>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-list-alt"> <small>&nbsp; Horas</small></i></span>
                </div>

                  <input class="form-control" placeholder="Digite las horas a asignar" formControlName="hours" >

              </div>
            </div>

        </div>

        <div class="row">
          <div class="formGroup col-12" >
          <i class="fa fa-exclamation-circle uncheck" *ngIf="fieldsForm.controls.observation.invalid  && fieldsForm.controls.observation.touched">
              La observacion tiene un maximo de 300 caracteres
            </i>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-list-alt"> <small>&nbsp; Observaciones</small></i></span>
              </div>
              <textarea rows="4" cols="50"  placeholder="Agrege los comentarios necesarios para la practica docente en este campo"
              style="resize: none" formControlName="observation">
              </textarea>
            </div>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="updateState()">Guardar</button>
        </div>

      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->

