<h1 mat-dialog-title class="titulo " style="text-align: center; background-color: #5bc0de;">VER ACTIVIDAD</h1>
<div mat-dialog-content>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Codigo:  <span style="color: red">*</span></span>
    </div>
    <input id="codigo"  disabled type="text" class="form-control" value="{{actividad.id}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Semana <span style="color: red">*</span></span>
    </div>
    <input id="semana"  disabled type="text" class="form-control" value="{{actividad.semana}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Fecha Inicio <span style="color: red">*</span></span>
    </div>
    <input id="fecha_inicio"  disabled type="text" class="form-control" value="{{fi}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4" >Fecha Entrega <span style="color: red">*</span></span>
    </div>
    <input id="fecha_entrega"  disabled type="text" class="form-control"  value="{{fe}}"  aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4">Cumplido <span style="color: red">*</span></span>
    </div>
    <input id="cumplido" type="text"  disabled class="form-control" value="{{actividad.cumplido}}" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4">Compromisos <span style="color: red">*</span></span>
    </div>
    <textarea  id="compromisos" disabled type="text" class="form-control" value="{{actividad.compromisos}}" aria-label="Username" aria-describedby="basic-addon1" name="" id="" cols="30" rows="5"></textarea>
    
  </div>


</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-primary" (click)="okClick()" cdkFocusInitial>Ok</button>
</div>

