<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header  bg-info  ">
              <i class="fa fa-align-justify "></i> <strong> Actividades de Práctica Docente realizadas por el estudiante </strong>
              <!--<div class="input-group mb-4 input-group">
                <input type="text" class="form-control" placeholder="Buscar por Codigo" [(ngModel)]="searchTerm">
                <span class="input-group-prepend">
                    <button type="submit" class="btn btn-light" ><i class="fa fa-search"></i>  </button>
                </span>
              </div>-->

          </div>
          <div class="card-body">
            <h1 class="title text-center"> Mis Actividades de Práctica Docente</h1>
            <h3 class="title text-center" *ngIf="showEmpty">No tienes Actividades de Práctica Docente Registradas</h3>
            <table class="table  table-responsive-sm">
              <thead >
                <tr>
                  <th>Fecha de Registro</th>
                  <th>Tipo</th>
                  <th>Horas Asignadas</th>
                  <th>Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let teachingPractice of optionsTeachingPractice | paginate: {itemsPerPage: 8, currentPage: p}">
                  <td>{{teachingPractice['fechaRegistro']}} </td>
                  <td>{{teachingPractice['tipoPracticaDocente']}}</td>
                  <td>{{teachingPractice['horas']}}</td>
                  <td>
                    <span class="badge badge-dark" *ngIf="teachingPractice['estado'] == 'Por verificar'">Por verificar</span>
                    <span class="badge badge-success" *ngIf="teachingPractice['estado'] == 'Aprobado'">Aprobada</span>
                    <span class="badge badge-secondary" *ngIf="teachingPractice['estado'] == 'Rechazado'">Rechazada</span>
                  </td>
                  <td>
                    <div class="col-lg-12">
                      <button class="btn btn-primary col-lg-4" (click)="showDataTeachingPractice(teachingPractice)">Ver</button>
                      <button class="btn btn-danger col-lg-6" (click)="deleteTeachingPractice(teachingPractice['id'])"
                      *ngIf="teachingPractice['estado'] == 'Por verificar'">Eliminar</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="p =$event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-show-teaching-practice [teachingPractice]="teachingPractice" *ngIf="showTeachingPractice" (cerrar)="destroyModal()"></app-show-teaching-practice>
<app-modal-ok *ngIf="showModalOk" [msjOk]="msjOk"></app-modal-ok>
<app-modal-fail *ngIf="showFail" [msjFail]="msjFail"></app-modal-fail>
