<app-form-student [titleForm]="titleForm" [subtitleForm]="subTitleForm" [buttonAction]="titleBtnForm" [resetForm]="resetForm"
                  [isFormAddStudent]="isFormAddStudent" (getStudent)="getDataFormStudent($event)">
</app-form-student>

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-primary" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"> Estudiante Registrado con Exito</h4>
      <button type="button" class="close" (click)="successModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>El estudiante ha sido registrado exitosamente en el sistema</p>
    </div>
    <div class="modal-footer">

    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-danger" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Error al registrar el estudiante</h4>
      <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>{{textErrorService}}</strong></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="dangerModal.hide()">Cerrar</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #progressModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-danger" role="document">
  <div class="modal-content">
    <div class="aling-center" >
      <img src="../../../../assets/img/progress.gif" width="100px" height="100px" >
      {{progressRequest}}
     </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

