input.ng-invalid.ng-touched
{
  border-left: 8px solid #a94442;
}

input.ng-valid.ng-dirty
{
  border-left: 8px solid #42a948
}

.check
{
  color: #42a948
}

.uncheck
{
  color: #a94442;
}

.aling-center
{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.img-background-login
{
 // background-image:url("../assets/img/img default/back-login.png");
 background-image: url("../assets/img/imgDefault/back-login.png");
 background-color: transparent;

}

.img-background
{
  background: url("../assets/img/imgDefault/background.png") no-repeat ;
  background-color: transparent;

}

.img-antorcha
{
  background: url("../assets/img/imgDefault/antorcha.png") no-repeat bottom right !important;
  background-color: transparent;
}

.img-pie-login
{
  background: url("../assets/img/imgDefault/antorcha.png") no-repeat bottom right ;
  background: url("../assets/img/imgDefault/bandera.png") no-repeat bottom left;
  background-color: transparent;
}


.img-background-login
{
  width:  200px;
  height: 200px;
}

.img-header
{

}

.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  //transform: translateX(-50%);

}
.vertical-divider:before,
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}

.row-divided > .vertical-divider {
  height: calc(50% - 1rem);
}

/*css para el login*/
#logoU {
  background: url("../assets/img/imgDefault/logo.png") no-repeat;
  width: 188px;
  height: 92px;
  float: left;
  //margin-right: 10px;
}
.init {
  display: table !important;
  margin: 30px auto 5px !important;
}

.init .separador {
  background: url("../assets/img/imgDefault/barra.png") no-repeat;
  width: 2px;
  height: 40px;
  float: left;
  margin: 25px 10px 0 0;
}

#desc {
  font-size: 16px;
  font-weight: bold;
  line-height: 17px;
  color: #FFFFFF;
  padding-top: 27px;
  width: 235px;
  float: left;
}

#general {
  margin: auto auto 20px auto;
  display: table;
}

#login {
  background: url("../assets/img/imgDefault/back-login.png") no-repeat;
  padding: 35px 20px 0;
    width: 380px;
    display: inline-block;
    height: 394px; /* DUX para acomodar el tamaño del div, que lucía terrible. */
    margin-top: 25px; /* DUX Para que quede alineado con el comunicado superior. */
    background-size: 100%;
}

#logoSimca {
  background: url("../assets/img/imgDefault/folder.png") no-repeat;
  width: 70px;
  height: 70px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 10px;
}

#login .formLogin
{
  width: 260px;
}

#login h3 {
  font-size: 16px;
  color: #26467E;
}

#login h3, #login form {
	display: table !important;
  margin: auto !important;
}

h3, h5 {
  font-family: "Vegur", "Arial Narrow", Arial, sans-serif !important;
  margin: 0 !important;
  font-weight: normal !important;
}
body {
  height: auto !important;
}
body  {
  background: url("../assets/img/imgDefault/background.png") no-repeat;
      background-color: rgba(0, 0, 0, 0);
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-size: auto auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: #0D4185 !important;
  background-size: 100%;
  font-family: "Vegur", "Arial Narrow", Arial, sans-serif !important;
}

 .set-background
{
  background: url("../assets/img/imgDefault/fondo-blanco.jpg") no-repeat;
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto auto;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-color: grey !important;
background-size: 100%;
font-family: "Vegur", "Arial Narrow", Arial, sans-serif !important;
}

#antorcha {
  position: fixed;
 // z-index: -1;
  background: url("../assets/img/imgDefault/antorcha.png") no-repeat;
  height: 600px;
  right: 5%;
  top: 0;
  width: 251px;
}

#bandera {
  background: url("../assets/img/imgDefault/bandera.png") no-repeat;
	width: 445px;
	height: 130px;
	position: fixed;
	z-index: -1;
	left: 0;
	bottom: 0;
}

#banderaHead
{
  background: url("../assets/img/imgDefault/bandera.png") no-repeat;
	width: 345px;
	height: 130px;
	position: fixed;
	z-index: -1;
	left: 0;
	bottom: 0;

}

.botonIngresarClass {

  border: none !important;
  background: url("../assets/img/imgDefault/btn-ingresar.png") no-repeat !important;
  width: 100px !important;
  height: 37px !important;
  margin: 10px auto 10px !important;
  display: block !important;
  color: #555555 !important;
  font-size: 12px !important;
  box-shadow: none !important;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

body{
height: auto !important; /* Para corregir un problema con application.css */
}

.container{
width: auto !important; /* Para corregir un problema con Bootstrap.css, dejarlo responsive */
}

@media all and (max-width: 979px)
/* DUX Cuando el tamaño del viewport sea 996px (se pone 979), para todos los medios.
Poner todo lo responsive aquí adentro. */
{
#login
{
  background: url("../assets/img/imgDefault/back-login-medium.png") no-repeat;
  width: 320px;
}
#banderaHead
{
  background: url("../assets/img/imgDefault/bandera.png") no-repeat;
	width: 200px;
	height: 60px;
	position: fixed;
	z-index: -1;
	left: 0;
	bottom: 0;
}


p.separador
{
  display: none;
}
header #logoU
{
  margin-left: 17px;
}
header #desc
{
  clear: both;
  text-align: center;
  padding-top: 20px;
}
}

