// If you want to override variables do it here
@import "variables";

// Import styles
@import "customization_template/coreui.scss";

// If you want to add something do it here
@import "custom";


////MATERIAL
@import '~@angular/material/theming';
@include mat-core();
// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-theme:   mat-light-theme((
  color: (
    primary: $candy-app-primary,
    accent: $candy-app-accent,
  )
));

// Include the default theme styles (color and default density)
@include angular-material-theme($candy-app-theme);