<h1 mat-dialog-title class="titulo">Mensaje</h1>
<div mat-dialog-content>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Nombre <span style="color: red">*</span></span>
    </div>
    <input id="nombre" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon2">Nombre <span style="color: red">*</span></span>
    </div>
    <input id="nombre2" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">Nombre <span style="color: red">*</span></span>
    </div>
    <input id="nombre3" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon4">Nombre <span style="color: red">*</span></span>
    </div>
    <input id="nombre4" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                                              (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Actividades
    </mat-panel-title>
    <mat-panel-description>
      Ver actividades asignadas a este seguimiento
    </mat-panel-description>
  </mat-expansion-panel-header>
      <app-listar-actividades-estudiante [IdSeguimiento]="20"></app-listar-actividades-estudiante>
  </mat-expansion-panel>
    </mat-accordion>


</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-primary" (click)="okClick()" cdkFocusInitial>Ok</button>
</div>

