<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 ">
      <div class="card ">
        <div class="card-header bg-primary">
          <strong>{{titleForm}}</strong>
        </div>
        <div class="card-body">
            <form [formGroup]="fieldsForm" (ngSubmit)="onSubmit()" #f="ngForm">
                <h1 class="title text-center">{{titleForm}}</h1>
                <p class="text-muted text-center">{{subtitleForm}}</p>

                <div class="row">
                    <div class="formGroup col-6">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-id-card-o"></i><small>&nbsp;Autor</small></span>
                        </div>
                        <input type="text" class="form-control" placeholder="* Nombre del autor principal " formControlName="author" >
                      </div>
                    </div>
                    <div class="formGroup col-6">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-list-alt"> <small>&nbsp; Tipo de pasantía</small></i></span>
                          </div>
                          <select type="text" class="form-control" #categoryTypeInternship>
                              <option [ngValue]="typeInternship" *ngFor="let typeInternship of optionTypeInternship">{{typeInternship}}</option>
                          </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="formGroup col-6">
                        <i class="fa fa-exclamation-circle uncheck" *ngIf="showErrorDateStart">
                            {{msjErrorDateFinish}}
                        </i>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-calendar"></i><small>&nbsp;Fecha Inicio Pasantía</small></span>
                          </div>
                          <input type="date" class="form-control" placeholder="* " max="{{max_date}}"
                                formControlName="dateInternshipStart" (change)="handleDateFinish($event)">
                        </div>
                    </div>

                    <div class="formGroup col-6">
                          <i class="fa fa-exclamation-circle uncheck" *ngIf="showErrorDateFinish">
                            {{msjErrorDateFinish}}
                          </i>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-calendar"></i><small>&nbsp;Fecha Fin Pasantía</small></span>
                            </div>
                            <input type="date" class="form-control" placeholder="* " max="{{max_date}}"
                                  formControlName="dateInternshipEnd" (change)="handleDateFinish($event)">
                          </div>
                    </div>
                </div>

                <div class="row">
                  <div class="formGroup col-6">
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="(fieldsForm.controls.responsibleForThePractice.errors?.maxlength  && fieldsForm.controls.responsibleForThePractice.dirty)
                                                                        || (fieldsForm.controls.responsibleForThePractice.errors?.required && fieldsForm.controls.responsibleForThePractice.touched )">
                        Nombres y Apellidos del tutor vacío o digitó más de 200 caracteres
                      </i>
                      <i class="fa fa-exclamation-circle uncheck" *ngIf="(fieldsForm.controls.responsibleForThePractice.errors?.pattern)">
                        Este campo solo admite letras
                      </i>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fa fa-user-circle"></i><small>&nbsp;Nombres y Apellidos del Tutor</small></span>
                        </div>
                        <input type="text" class="form-control" placeholder="* Nombres y apellidos del responsable de la pasantía en la Institución o Universidad"
                        formControlName="responsibleForThePractice">
                      </div>
                    </div>

                    <div class="formGroup col-6">
                        <i class="fa fa-exclamation-circle uncheck" *ngIf="fieldsForm.controls.institution.invalid && fieldsForm.controls.institution.touched ">
                          Universidad o Institución vacío o digitó más de 100 caracteres
                        </i>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-university"></i><small>&nbsp;Universidad ó Institución</small></span>
                          </div>
                          <input type="text" class="form-control" placeholder="* Nombre de la Universidad o Institución donde se hizo la pasantía"
                          formControlName="institution" >
                        </div>
                      </div>
                </div>

                <div class="row">
                    <div class="formGroup col-6">
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-cubes"> <small>&nbsp; Dependencia </small></i></span>
                          </div>
                          <select type="text" class="form-control" #categoryTypeDependence>
                            <option [ngValue]="dependencies" *ngFor="let dependencies of optionDependence">{{dependencies}}</option>
                          </select>
                        </div>
                    </div>
                    <div class="formGroup col-6">
                        <i class="fa fa-exclamation-circle uncheck" *ngIf="(fieldsForm.controls.nameDependence.errors?.maxlength  && fieldsForm.controls.nameDependence.dirty)
                        || (fieldsForm.controls.nameDependence.errors?.required && fieldsForm.controls.nameDependence.touched )">
                          Nombre de dependencia vacío o digitó más de 100 caracteres
                          </i>
                          <i class="fa fa-exclamation-circle uncheck" *ngIf="(fieldsForm.controls.nameDependence.errors?.pattern)">
                          Este campo solo admite letras
                          </i>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-cubes"></i><small>&nbsp;Nombre Dependencia</small></span>
                          </div>
                          <input type="text" class="form-control" placeholder="* Digite el nombre de la Dependencia: Por ejemplo, Departamento de Ciencias de la Computación."
                          formControlName="nameDependence">
                        </div>
                      </div>
                </div>

                  <div class="row">
                      <div class="formGroup col-6">
                          <i class="fa fa-exclamation-circle uncheck" *ngIf="showErrorReport">
                              {{msjErroReport}}
                            </i>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-file-text"></i><small>&nbsp; Reporte del Estudiante</small>
                            </span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputScrenShot" (change)="handleFileInputReport($event)"
                             accept="application/pdf" >
                            <label class="custom-file-label" for="inputScrenShot">{{placeholderReport}}</label>
                          </div>
                        </div>
                      </div>

                      <div class="formGroup col-6">
                          <i class="fa fa-exclamation-circle uncheck" *ngIf="showErrorCertificate">
                              {{msjErrorCertificate}}
                            </i>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-certificate"></i><small>&nbsp; Certificado</small>
                            </span>
                          </div>
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputScrenShot" (change)="handleFileInputCertificate($event)"
                            accept="image/jpeg, image/png, application/pdf " >
                            <label class="custom-file-label" for="inputScrenShot">{{placeholderCertificate}}</label>
                          </div>
                        </div>
                      </div>
                  </div>

                  <div style="text-align:right">
                      <button type="submit" class="btn btn-lg  btn-primary" [disabled]="fieldsForm.invalid">{{buttonAction}}
                      </button>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
